<h2>Recommendation</h2>

  <label>Recommendation Title:</label>
  <p><%= @recommendation.title %></p>

  <label>Recommendation Description:</label>
  <p><%= @recommendation.description %></p>

  <label>Recommendation Category:</label>
  <p><%= @recommendation.category %></p>

  <a href="/recommendation/<%= @recommendation.id %>/edit">Edit Recommendation</a>

  <form action="/recommendation/<%= @recommendation.id %>/delete" method="post">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete Recommendation">
  </form>
