<h2>Recommendation</h2>

    <p><label><b>Recommendation Title</b>: </label> <%= @recommendation.title %></p>

    <p><label><b>Recommendation Description</b>:</label> <%= @recommendation.description %></p>

    <p><label><b>Recommendation Category</b>:</label> <%= @recommendation.category %></p>
<%binding.pry%>
  <a href="/recommendation/<%= @recommendation.id %>/edit">Edit Recommendation</a>

  <form action="/recommendation/<%= @recommendation.id %>/delete" method="post">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete Recommendation">
  </form>
