<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<h2>Recommendation</h2>

    <p><label><b>Recommendation Title</b>: </label> <%= @recommendation.title %></p>

    <p><label><b>Recommendation Description</b>:</label> <%= @recommendation.description %></p>

    <p><label><b>Recommendation Category</b>:</label> <%= @recommendation.category.name %></p>

    <p><a href="/recommendations/<%= @recommendation.id %>/edit">Edit Recommendation</a></p>

  <p><form action="/recommendations/<%= @recommendation.id %>/delete" method="post">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete Recommendation">
  </form></p>


  <p><a href="/recommendations">Back to Recommendations</a></p>
