<h2><b><%= @user.username.upcase %>'s</b> Recommendations<h2>

<div>
<% if @user.categories.count > 0 %>
  <% @user.categories.each do |category| %>
    <div class="category">
      <h3><u><a href="/categories/<%= category.id %>"> <%= category.name %></a></u></h3>
        <% category_id = category.id%>
        <ul>
        <% if @user.recommendations.count > 0 %>
          <% @user.recommendations.each do |recommendation| %>
            <% if recommendation.category.id == category_id %>
            <div class="recommendation">
                  <li><h4><a href="/recommendations/<%= recommendation.id %>"> <%= recommendation.title %></h4></li>
            </div>
            <% end %>
          <% end %>
        <% end %>
      </ul>
    </div>

  <% end %>
<% end %>
<div>
