<h2><b><%= @category.name.upcase %></b> Recommendations</h2>

<ul>
<% if @category.recommendations.count > 0 %>
  <% @category.recommendations.each do |recommendation| %>
    <div class="recommendation">
          <li><h4><a href="/recommendations/<%= recommendation.id %>"> <%= recommendation.title %></a> recommended by <a href="/users/<%= recommendation.user.id %>"><%= recommendation.user.username %></a></h4></li>
    </div>
  <% end %>
<% end %>
</ul>

<p><a href="/recommendations">Back to Recommendations</a></p>
